node_modules/
.next/
out/
uild/
.next/static/
.next/cache/

pm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
coverage/
*.local
*.log
prisma/*.db
prisma/*.db-journal
public/_next/
.firebase/
.firebaserc.local
*.tsbuildinfo

/src/generated/prisma
